.form{
    background: white;
    width: 600px;
    margin: 10px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px silver;
}
.select_date select{
    width: 70px;
}
.login_fail{
    width: 600px;
    height: 50px;
    margin: 100px auto 0;
    text-align: center;
    color: red;
}