*{padding: 0px;margin: 0px;}
.form-search{
    margin-top: 5px;
    height: 40px;
    padding: 0px 10px;
    outline: none;
    border: none;
}
#txt-search{
    border-radius: 10px 0 0 10px;
}
#btn-search{
    border-radius: 0 10px 10px 0;
    margin-left: -4px;
}
.container-fluid{
    padding: 10px 10px;
    background-color: #fff;
}
.clear-float{
    clear: both;
}
.btn-orange{
    background: linear-gradient( to top,blue,#007bff);
}
.btn-blue{
     background: linear-gradient(to top,orangered,orange);
}
hr{
    margin: 5px 0;
    border-top :1px solid silver;
}