*{padding: 0px;margin: 0px;}
.box-products{   
    text-align: center;    
}
.line-products{
    padding: 20px 10px;
    height: 450px;
}
.line-products:hover{
    border: 1px solid silver;
    box-shadow: -0.5px -0.5px 5px silver;

}
.line-products a{
    color: black;
    font-weight: bold;
}
.line-products a:hover{
    text-decoration: none;
}
.products-price{
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.text-title{
    font-size: 20px;
    font-weight: bold;
}
#Subtext-title{
    font-weight: bold;
    color: #777;
}
.products-price-view{
    color: red;
    font-size: 30px;
    font-weight: bold;
}